<form action="" method="GET" id="tongji_form">
开始日期：<input type="date" id="datetimes" name="datetimes" value="{{ dates }}">&nbsp;&nbsp;&nbsp;
   结束日期： <input type="date" id="rq_ts" name="end_date" value="{{end_date}}" >&nbsp;&nbsp;&nbsp;
 ID 或 名称： <select name="id" id="select_id">
    {% load mvote %}
        {% for id in ids %}
            {% if forloop.first %}
                {% if rq_id == 0 %}<option value="{{ rq_id }}">全  部</option>{% else %}
                    <option value="{{ rq_id }}">{{ id_name|name_option:rq_id }}</option>
                    <option value="0">全  部</option>{% endif %}
                {% endif %}
            <option value="{{ id }}">{{ id_name|name_option:id }}</option>
        {% endfor %}
    </select>&nbsp;&nbsp;
 <input type="button" onclick="javascript:doSubmitForm(1)" value="查询">&nbsp;&nbsp;
    <input type="button" onclick="javascript:doSubmitForm()" value="跟单查询">&nbsp;&nbsp;
    {% include 'base/return.html' %}
    <br/><br/>
</form>