
{% extends 'base/base.html' %}
{% block title %}用户修改{% endblock %}
{% block script %}

{% endblock %}
{% block center_cen %}
<div align="center">
    <table border="1" width="800">
        <caption>工作日志</caption>
        <tr><th>日期</th><th>标题</th><th>内容</th></tr>
{% for w in work %}
    <tr><td>{{ w.date }}</td><td>{{ w.title }}</td><td>{{ w.body }}</td></tr>
{% endfor %}
    </table>
    <hr/>
    <table border="1" width="800">
        <caption>我的模拟账户</caption>
        <tr><th>账号</th><th>是否启用</th></tr>
    {% for a in account %}
    <tr><td>{{ a.host }}</td><td>{{ a.enabled }}</td></tr>
    {% endfor %}
    </table>
    <hr/>
    <table border="1" width="800">
        <caption>我的实盘账户</caption>
        <tr><th>账号</th><th>用户ID</th></tr>
    {% for r in real_account %}
    <tr><td>{{ r.host }}</td><td>{{ r.userid }}</td></tr>
    {% endfor %}
    </table>
</div>

{% endblock %}