
{% extends 'base/base.html' %}
{% block title %}用户注册{% endblock %}
{% block script %}
<style>
    .errorlist{color:red;}
    .captcha{margin-top:10px;}
</style>
{% endblock %}
{% block center_cen %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'js/jquery-1.7.1.min.js' %}"></script>

<div align="center"><p id="error_info" style="color:green;">{{ message|default:"欢迎！" }}</p><br/>
    <form action="{% url 'register' %}" method="POST" id="form_register">
        {% csrf_token %}
        <fieldset>
            <legend>用户注册</legend>
            <table>
                {{ form.as_table }}
            </table>
           <br/>
            <input type="button" onclick="form_register();" value="注册">&nbsp;&nbsp;
            <input type="button" onclick="javascript:show_login();" value="前往登录">
        </fieldset>
    </form>
</div>
<script>
function form_register(){
    var form = document.getElementById("form_register");
    var value = form["password"].value;
    form["password"].value = hex_md5(value);
    form.submit();
}
    $("#id_captcha_1").css('width','100').attr('placeholder','输入验证码');
    $(".captcha").css('cursor','pointer');
$(".captcha").click(function(){
    console.log('click');
    $.getJSON("/captcha/refresh/",
        function(result){
        $('.captcha').attr('src',result['image_url']);
        $('#id_captcha_0').val(result['key']);
    });
});

$("#id_name").blur(function(){
    var name=$("#id_name").val();
    if(name==null || name==""){
        $("#error_info").css('color','red').html("用户名不能为空");
    }else{
    /*$.ajax({
        type:"GET",
        url:"{% url 'register' %}",
        data:{"name":name},
        success:callBack
    });*/
    $.get("{% url 'register' %}",{"name":name},callBack);
    }
    function callBack(datas){
            if(datas==1){
                //$("#ajax").css('color','red').html('此号已被注册!');
                $("#id_name").attr('placeholder','请输入用户名');
                $("#error_info").css('color','red').html("此账户名已被注册，请更换其他账户名！");
            }else{
                $("#error_info").css('color','green').html("此账户名可以注册！");
            }
        }
});
$("#id_passwordr").blur(function(){
    var password = $("#id_password").val();
    if(password==null || password==""){
        $("#error_info").css('color','red').html("密码不能为空！");
    }else if($("#id_passwordr").val()!=password){
        $("#error_info").css('color','red').html("两次密码输入不一致！");
    }else if(password.length<6){
        $("#error_info").css('color','red').html("密码长度需为6--18位！");
    }else{
        $("#error_info").css('color','green').html("欢迎！");
    }
});

</script>
{% endblock %}